services:
  clickhouse:
    image: clickhouse/clickhouse-server:25.9
    container_name: clickhouse
    restart: unless-stopped
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: supersecret
      CLICKHOUSE_DB: default
    ports:
      - '8123:8123' # HTTP interface
      - '9000:9000' # Native TCP (clients)
      - '9009:9009' # Inter-server TCP
    volumes:
      - ./data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
